name: CI/CD Pipeline

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build_and_push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven'

      # --- Multi-Arch Sorununu Çözen Kısım ---
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      # ----------------------------------------

      - name: Build and Push Docker Image
        run: |
          mvn clean install -DskipTests
          
          mvn com.google.cloud.tools:jib-maven-plugin:3.4.1:build \
            -Djib.to.image=nevzatcirak/neva-assistant:latest \
            -Djib.from.image=eclipse-temurin:21-jre-alpine \
            -Djib.platforms=linux/amd64